@charset "UTF-8";

@import "normalize";

$yellow: #F39C12;
$green: #A8DBA8;

$background_color: #34495E;
$text_color: #FDFCFB;

$email_background_color: $text_color;
$email_text_color: #737373;

$button_color: $green;
$button_hover_color: darken($green, 10%);

body {
  background: $background_color;
  color: $text_color;
  font-family: "Roboto Slab", "serif";
  font-weight: 300;
  line-height: 1.68;
  text-align: center;
}

h1, h2, h3 {
  font-weight: 400;
  margin: 2em 0 0;
}

h3 {
  color: $green;
}

p {
  margin: 0 0 1em;
}


.wrapper {
  max-width: 500px;
  margin: 10% auto;
}

.description {
  text-align: left;
}

input {
  border: none;
  border-radius: 5px;
  height: 50px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  width: 80%;
  -webkit-appearance: none;
}

#email {
  background: $email_background_color;
  color: $email_text_color;
  text-indent: 5%;
}

#submit {
  background: $button_color;
  cursor: pointer;
  font-weight: bold;
  transition: background .3s ease-in-out;

  &:hover {
    background: $button_hover_color;
  }

  &:focus {
    background-color: $button_hover_color;
    outline: none;
    transition: background .3s ease-in-out;
  }
}
