.header
  %h1
    Join to
    %br
    = settings.team_name
  %p.description= settings.team_desc

%form{:action => "/invite", :method => "post", :name => "form for slack invitation request"}
  = Rack::Csrf.tag(env)
  .input
    %input#email{name: "email", placeholder: "name@example.com", type: "email"}
    %input#submit{:type => "submit", :value => "JOIN"}
