!!!
%html
  %head
    %title Join #{settings.team_name}
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "content-type"}

    %link{href: "application.css", rel: "stylesheet"}
  %body
    = yield
